.container {
  width: 80%;
  margin: auto;
  text-align: center;
}


.bingoButton {
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  border: 5px solid black;
  border-radius: 10%;
  background-color: #FEF2BF;
}

#callValue {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;  
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

a {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}


table {
  table-layout: fixed;
  margin-left: auto; 
  margin-right: auto;
  width: 80%;
  text-align: center;
  
}

th {
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  background-color:red;
  color: white;
  width: 20% ;
}

td {
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  background-color:white;
  color: black;
  width: 20% ;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
